/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: -1px;
}

.header-content {
  display: flex;
  width: 1691px;
  justify-content: space-around;
}

.header__button {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 6px;
  margin-left: 53px;
}

.menu-items {
  list-style: none;
  display: flex;
  color: white;
}

.menu-items.mnav {
  display: block;
  margin-bottom: 84px;
}

.menu-item {
  margin-left: 30px;
}

.mnav .menu-item {
  margin-left: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.header-burger {
  width: 40px;
  height: 40px;
  background-color: black;
  display: none;
  margin-left: 10px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.mnav-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: black;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  padding: 15px;
}

.mobile-nav.open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.registration-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-item_sign_in {
  width: 250px;
  font-size: 18px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  height: 34px;
  margin-bottom: 17px;
}

.registration-item_sign_up {
  width: 250px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  background-color: red;
  height: 34px;
  margin-bottom: 17px;
}

.close__img {
  width: 40px;
  height: 40px;
}

.close-menu {
  cursor: pointer;
}



.main {
  background-color: black;
  margin-bottom: -1px;
}

.content {
  padding: 13px;
  padding-top: 25px;
  border-radius: 15px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #4a4a4a;
  color: white;
}

.main__title {
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}

p {
  color: white;
}

.banner {
  background-image: url('./banner2-1440.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.banner-content {
  text-align: center;
  color: white;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(74, 74, 74, 0.9);
}

.banner h2 {
  margin-bottom: 10px;
  font-size: 34px;
}

.banner-button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
}

.banner-button:hover {
  background-color: darkred;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 99px 0px;
}

.faq {
  margin-top: 40px;
}

.faq h2 {
  color: white;
  text-align: left;
  margin-bottom: 20px;
  margin-top: -30px;
}

.faq-item {
  background-color: #333;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 15px;
  border: none;
  text-align: left;
  font-size: 18px;
}

.faq-question:hover {
  background-color: #555;
}

.faq-answer {
  background-color: #555;
  color: white;
  padding: 15px;
  display: none;
}

.faq-answer p {
  margin: 0;
}

.main__subtitle {
  margin-bottom: 10px;
}

.line {
  background-color: white;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header-burger {
    display: block;
  }
  .header-nav {
    display: none;
  }
}

@media (max-width: 320px) {
  .banner h2 {
    margin-bottom: 10px;
    font-size: 24px;
    width: 186px;
  }
}
